wh(w, h) {
  width: w;
  height: h;
}

circle(d) {
  width: d
  height: d
  border-radius: d
}

absPos(t, r, b, l) {
  position: absolute
  top: t
  right: r
  bottom: b
  left: l
}

flexXY(x, y) {
  display: flex;
  justify-content: x;
  align-items: y;
}